<h2>Search for Customers</h2>
<form id="CustomerSearch" class="form-horizontal">
<div class="control-group">
    <label for="firstName" class="control-label">FirstName</label>
    <div class="controls">
        <input id="firstName" name="firstName" type="text" ng-model="search.firstName" placeholder="Enter the Customer firstName"></input>
    </div>
</div>
<div class="control-group">
    <label for="dateOfBirth" class="control-label">DateOfBirth</label>
    <div class="controls">
        <input id="dateOfBirth" name="dateOfBirth" type="text" ng-model="search.dateOfBirth" placeholder="Enter the Customer dateOfBirth"></input>
    </div>
</div>
<div class="control-group">
    <label for="shippingAddress" class="control-label">ShippingAddress</label>
    <div class="controls">
        <select id="shippingAddress" name="shippingAddress" ng-model="search.shippingAddress" ng-options="s as s.id for s in shippingAddressList">
            <option value="">Choose a ShippingAddress</option>
        </select>
    </div>
</div>
    <div class="control-group">
        <div class="controls">
            <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><i class="icon-search icon-white"></i> Search</a>
            <a id="Create" name="Create" class="btn" href="#/Customers/new"><i class="icon-plus-sign"></i> Create New</a>
        </div>
    </div>
</form>
<div id="search-results">
<table class="table table-bordered table-striped clearfix">
    <thead>
        <tr>
                    <th>FirstName</th>
            <th>DateOfBirth</th>
            <th>ShippingAddress</th>
        </tr>
    </thead>
    <tbody id="search-results-body">
        <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
            <td><a href="#/Customers/edit/{{result.id}}">{{result.firstName}}</a></td>
            <td><a href="#/Customers/edit/{{result.id}}">{{result.dateOfBirth}}</a></td>
            <td><a href="#/Customers/edit/{{result.id}}">{{result.shippingAddress.id}}</a></td>
        </tr>
    </tbody>
</table>
<div class="pagination pagination-centered">
    <ul>
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>
</div></div>