<form id="GroupIdentityForm" name="GroupIdentityForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: GroupIdentityForm.groupName.$invalid}">
        <label for="groupName" class="control-label">Group Name</label>
        <div id="groupNameControls" class="controls">
            <input id="groupName" name="groupName" type="text" ng-model="groupIdentity.groupName" placeholder="Enter the GroupIdentity Group Name"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: GroupIdentityForm.users.$invalid}">
        <label for="users" class="control-label">Users</label>
        <div id="usersControls" class="controls">
            <select id="users" name="users" multiple ng-model="usersSelection" ng-options="u.text for u in usersSelectionList">
                <option value="">Choose a Users</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveGroupIdentity" name="saveGroupIdentity" class="btn btn-primary" ng-disabled="isClean() || GroupIdentityForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteGroupIdentity" name="deleteGroupIdentity" class="btn btn-danger" ng-show="groupIdentity.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>