<header ng-switch on="$location.path().indexOf('/StoreOrders/new') > -1">
    <h3 ng-switch-when="true">Create StoreOrder</h3>
    <h3 ng-switch-when="false">View or edit StoreOrder</h3>
</header>
<form id="StoreOrderForm" name="StoreOrderForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: StoreOrderForm.product.$invalid}">
        <label for="product" class="control-label">Product</label>
        <div id="productControls" class="controls">
            <input id="product" name="product" type="text" required ng-model="storeOrder.product" placeholder="Enter the StoreOrder Product"></input>
            <span class="help-inline" ng-show="StoreOrderForm.product.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: StoreOrderForm.orderDate.$invalid}">
        <label for="orderDate" class="control-label">Order Date</label>
        <div id="orderDateControls" class="controls">
            <input id="orderDate" name="orderDate" type="date" ng-model="storeOrder.orderDate" placeholder="Enter the StoreOrder Order Date"></input>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveStoreOrder" name="saveStoreOrder" class="btn btn-primary" ng-disabled="isClean() || StoreOrderForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteStoreOrder" name="deleteStoreOrder" class="btn btn-danger" ng-show="storeOrder.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>