<h2>Search for StoreOrders</h2>
<form id="StoreOrderSearch" class="form-horizontal">
<div class="control-group">
    <label for="product" class="control-label">Product</label>
    <div class="controls">
        <input id="product" name="product" type="text" ng-model="search.product" placeholder="Enter the StoreOrder Product"></input>
    </div>
</div>
<div class="control-group">
    <label for="orderDate" class="control-label">Order Date</label>
    <div class="controls">
        <input id="orderDate" name="orderDate" type="text" ng-model="search.orderDate" placeholder="Enter the StoreOrder Order Date"></input>
    </div>
</div>
    <div class="control-group">
        <div class="controls">
            <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><i class="icon-search icon-white"></i> Search</a>
            <a id="Create" name="Create" class="btn" href="#/StoreOrders/new"><i class="icon-plus-sign"></i> Create New</a>
        </div>
    </div>
</form>
<div id="search-results">
<table class="table table-bordered table-striped clearfix">
    <thead>
        <tr>
                    <th>Product</th>
            <th>Order Date</th>
        </tr>
    </thead>
    <tbody id="search-results-body">
        <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
            <td><a href="#/StoreOrders/edit/{{result.id}}">{{result.product}}</a></td>
            <td><a href="#/StoreOrders/edit/{{result.id}}">{{result.orderDate}}</a></td>
        </tr>
    </tbody>
</table>
<div class="pagination pagination-centered">
    <ul>
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>
</div></div>