<header ng-switch on="$location.path().indexOf('/UserIdentitys/new') > -1">
    <h3 ng-switch-when="true">Create a new UserIdentity</h3>
    <h3 ng-switch-when="false">View or edit UserIdentity</h3>
</header>
<form id="UserIdentityForm" name="UserIdentityForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="form-group" ng-class="{'has-error': UserIdentityForm.userName.$invalid}">
        <label for="userName" class="col-sm-2 control-label">User Name</label>
        <div id="userNameControls" class="col-sm-10">
            <input id="userName" name="userName" type="text" class="form-control" ng-model="userIdentity.userName" placeholder="Enter the UserIdentity User Name"></input>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveUserIdentity" name="saveUserIdentity" class="btn btn-primary" ng-disabled="isClean() || UserIdentityForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteUserIdentity" name="deleteUserIdentity" class="btn btn-danger" ng-show="userIdentity.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    <div>
</form>